---
import MainLayout from "../layouts/MainLayout.astro";
import Container from "../components/ui/Container.astro";
import Section from "../components/ui/Section.astro";
import Hero from "@/components/sections/Hero.astro";
import About from "@/components/sections/About.astro";
import TechStack from "@/components/sections/TechStack.astro";
import FeaturedProject from "@/components/sections/FeaturedProject.astro";
import Experience from "@/components/sections/Experience.astro";
---

<MainLayout
  title="Home"
  description="Portfolio"
>
  <Section>
    <Container>

        <Hero/>
        <About/>
        <TechStack/>
        <FeaturedProject/>
        <Experience/>
        
    </Container>
  </Section>
</MainLayout>